name: mlflow-training

on:
  workflow_dispatch:
  push:
    paths:
      - "Workflow-CI/**"

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r Workflow-CI/MLProject/requirements-ci.txt

      - name: Run MLflow Project
        run: |
          cd Workflow-CI/MLProject
          mlflow run . --env-manager=local

      - name: Upload MLflow artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: Workflow-CI/MLProject/mlruns
